@import url('https://fonts.googleapis.com/css2? family= Lato:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    /* colores */
    ---colorUno: #00c3ff;
    ---colorDos: #ffff1c;
    ---gris: #3b3b3b;
    ---blanco: #ffffff;
    ---oscuro: #1f1e1e;
    ---grisClaro: #e1e1e1;

    /* fonts */
    --fonts-primary: 'Poppins', sans-serif;
    --fonts-title: 'Lato', sans-serif;
    --fonts-online: 'Caveat', cursive;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

    background-color: var(---oscuro);
    font-family: var(--fonts-primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* GLOBALES PARA EL PROYECTO */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(---fuenteDos);
    margin: calc(var(---separar) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
}

/* UTILIDADES */

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 6rem;
}


/* DEGRADADOS */

.degradado {
    color: transparent;
    background: linear-gradient(to right, #00c3ff, #ffff1c);
    -webkit-background-clip: text;
}


/* ESTILOS PARA EL MENU */


.menu {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.menu.sticky {
    padding: .2rem 0;
    background-color: #333;
}

.menu.sticky a {
    color: #fff;
}

.menu-btn i {
    font-size: 2.8rem;
    color: var(---colorUno);
    margin-right: 2rem;
}

.menu .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .logo img {
    display: block;
    width: 6rem;
}

@media (min-width: 768px) {
    .menu .logo img {
        width: auto;
        height: 8rem;
    }

}

.menu .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: block;
    margin-top: 0;
    padding: 3rem 0;
    text-align: center;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .menu .menu-list {
        display: flex;
        margin: 0;
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
        padding: 0;
        text-align: left;
    }
}


.menu .menu-list.active {
    left: 0%;
}

.icon.cancel-btn {
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    font-size: 2.5rem;

}

.menu-list li {
    margin-top: 3.5rem;
    transition: all 300ms;
}

@media (min-width: 768px) {
    .menu-list li {
        list-style: none;
        transition: all 300ms;
        margin-top: 0;
    }
}

.menu-list li a {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 1.5rem;
    color: var(---blanco);


}

.menu-list li a:hover {
    color: var(---colorUno);
}

.menu-list li:hover {
    transform: scale(1.1);
}

.icon {
    display: block;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}


@media (min-width: 768px) {
    .icon {
        display: none;
    }
}



.icon.hide {
    display: none;
}

/* estilos para el btn para ir arriba */



/* fin de estilos para el btn para ir arriba */

/* ESTILOS PARA EL HEADER */

.cabecera {
    padding: 5rem 0;
    background: linear-gradient(to right, #fe8c01, #fdd700);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-top: 0px;
}


.cabecera .help {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    background-image: url(../img/img-header.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 35rem;
    margin-top: 5rem;
    padding: 2rem;
    color: var(---blanco);
}

@media (min-width: 992px) {
    .cabecera .help {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        background-position: right center;
        background-size: 50rem;
        row-gap: 0;


    }
}

@media (min-width: 992px) {
    .cabecera .help {
        background-position: 80% center;
    }
}

.cabecera-content {
    margin-bottom: 4rem;
}

@media (min-width: 992px) {
    .cabecera-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8rem;
    }

}

.cabecera-content .title {
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--fonts-title);
    font-size: 4.2rem;
    margin: 0px;
    text-align: center;
}

@media (min-width: 768px) {
    .cabecera-content .title {
        font-size: 6rem;
    }
}

.cabecera-content .title span {
    display: block;
    font-family: var(--fonts-online);
    text-align: end;
    font-size: 3rem;
    color: var(---colorUno);

}

/* fin de la cabecera */

/* Inicio de nosotros*/
.about {
    padding: 8rem 0;

}

.about h2 {
    font-size: 5rem;
    font-weight: bold;
}

.content-about {
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    margin-top: 2rem;
}

@media (min-width: 992px) {
    .content-about {
        grid-template-rows: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        margin-top: 0;

    }
}

.content-about img {
    margin: 0 auto;
}

.description {
    padding: 0 1rem 1rem 1rem;
    color: var(---blanco);
}

@media (min-width: 768px) {
    .description {
        padding: 4rem;
    }
}

/*fin de la seccion de nosotros*/


/* seccion de choose*/

.choose {
    padding: 8rem 0;
    background-color: var(---blanco);
}

.choose h2 {
    font-size: 5rem;
    font-weight: bold;
}

.content-choose {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    margin-top: 4rem;

}

@media (min-width: 992px) {
    .content-choose {
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        padding: 5rem 0;
    }
}

.choose-box {
    width: 100%;
    border-radius: 1rem;
    background-color: var(---oscuro);
    padding: 4rem;
    margin-bottom: 2rem;
    color: var(---blanco);
    transition: all 300ms;
}

.choose-box:hover {
    background-color: var(---colorUno);
    color: var(---blanco);

}

.choose-box i {
    font-size: 6rem;
    color: var(---colorDos);

}

.choose-box h4 {
    font-size: 2.5rem;
}

/* fin de la seccion de choose*/


/* estilos para nuestros productos */

.productos {
    padding: 8rem 0;
}

.productos .width {
    margin-top: 10rem;
}

@media (min-width: 768px) {
    .productos .width {
        margin-top: 0;

    }
}

.productos h2 {
    font-size: 5rem;
    font-weight: bold;
}

.modelo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 5rem;
    color: var(---blanco);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 40rem;
}

.modelo:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .modelo {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenido-modelo {
    padding: 5rem;
}

.basico {
    background-image: url(../img/botines7.png);
}

@media (min-width: 992px) {
    .basico {
        background-position: top right;
        background-size: 48rem;

    }

    .basico .contenido-modelo {

        grid-row: 2 / 3;
        padding: 2rem 2rem 2rem 0;
    }
}

.premier {
    background-image: url(../img/botines12.png);
}

@media (min-width: 992px) {
    .premier {
        background-position: top left;
        background-size: 48rem;
    }

    .premier .contenido-modelo {
        grid-column: 2 / 3;
        padding: 2rem;
    }
}

.elite {
    background-image: url(../img/botines13.png);
}

@media (min-width: 992px) {
    .elite {
        background-position: top right;
        background-size: 48rem;
    }

    .elite .contenido-modelo {

        padding: 2rem 2rem 2rem 0;

    }

}

.productos p {
    margin-bottom: 3rem;
}

.btn {
    background: linear-gradient(to right, var(---colorUno), var(---colorDos));
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(---blanco);
    font-weight: 700;
    text-shadow: 1px px 4px #333;
    transition: all 300ms;

}

.productos .btn:hover {
    outline: 1px solid var(---colorUno);
}

/* fin de estilos para nuestros productos */


/* estilos para la seccion de zapatillas */

.zapatillas {
    padding: 8rem 0;
    background-color: var(---blanco);
}

.zapatillas h2 {
    font-size: 5rem;
    font-weight: bold;
}


.listado-zapatillas {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4rem;
}

@media (min-width: 992px) {
    .listado-zapatillas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem);
        gap: 4rem;


    }
}

.zapatillas-box {

    margin-bottom: 2rem;
    padding-left: 4rem;
    color: #00c3ff;
    min-height: 20rem;
    background-color: var(---grisClaro);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: 16rem;
    transition-property: transform background-size;
    transition-duration: .3s;
}

.zapatillas-box:hover {
    transform: scale(1.1);
    background-size: 19rem;
}

@media (min-width: 768px) {
    .zapatillas-box {
        background-size: 30rem;
        
    }

    .zapatillas-box:hover {
    
        background-size: 33rem;
    }
}
@media (min-width: 992px) { 
    .zapatillas-box {
        
        margin-bottom: 0;
    }
}
.zapatillas h3 {
    font-size: 2.4rem;

}

.precio {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 0;
    padding-top: 4rem;
}
@media (min-width: 768px) { 
    .precio{
        font-size: 4rem;
    }
}

.zapatillas-box:first-of-type {
    margin-bottom: 0;
}

.zapaUno {
    background-image: url(../img/zapatilla1.png);
}

.zapaDos {
    background-image: url(../img/zapatilla3.png);
}

.zapaTres {
    background-image: url(../img/zapatilla6.png);
    color: var(---blanco);
    background-color: var(---colorUno);
}

@media (min-width: 992px) {
    .zapaTres {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background-size: 25rem;
    }

    .zapaTres h3 {
        font-size: 4.5rem;
        margin-bottom: 10rem;
    }
}

/* fgin de los estilos para la seccion de zapatillas */


/* Estilos para marcas */

.marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20rem;
    background: linear-gradient(to right, var(---colorUno), var(---colorDos));
   
} 
.content-marca {
    height: 10rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap; /* Asegura que las imágenes se muestren en una sola línea */

}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 2rem)); /* Desplaza las imágenes hacia la izquierda */
    }
}

.marca-box {   
    margin-right: 2rem;
} 
@media (min-width: 768px) { 
    .marca-box{
        padding-left: 5rem; 
    }
}

#img {
    width: 10rem;
    height: auto;
    animation: slide 10s linear infinite;
}
@media (min-width: 768px) { 
    .marcas img {
        width: 10rem;
        
    }
}

/* Fin de estilos para marcas */

/* Estilos para la seccion de contactos */

.contactar{
    color: var(---blanco);
    padding: 8rem 0;

}

.contactar h2 {
    font-size: 5rem;
    font-weight: bold;
}
.contactar .width{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) { 
    .contactar .width{
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem;
        
    }
}
.contactar .info{
   
    padding: 2rem;
}
@media (min-width: 768px) { 
    .contactar .info{
        padding-left: 2rem;
    }
}
.contactar .info h4{
    font-size: 2.5rem;
    font-weight: 700;
}
.contactar .info .title-ubicacion{
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    border-bottom: 1px solid var(---colorDos);
}
.contactar .info p i{
    font-size: 2rem;
    margin-right: 1rem;
}
.contactar .info p{
    margin: 0px 0px 20px 0px;
}


.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    
    background-color: rgba(184, 180, 180, 0.089);
}
@media (min-width: 768px) { 
    .formulario{
        margin-top: 5rem;
    }
}
.content-imput{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
}
.content-imput input,
textarea{
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: 1rem;
}
.content-imput textarea{
    resize: none;
    overflow: auto;
    
}
input:focus{
    outline: 2px solid var(---colorDos);
}
.enviar-email{
    width: 98%;
    margin: 0 auto;
    padding: 1.2rem;
    background: linear-gradient(to right, var(---colorUno), var(---colorDos));
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    color: var(---blanco);
    transition: all 300ms;
}
@media (min-width: 768px) { 
    .enviar-email{
        width: 20rem;
        padding: 1rem;
        
    }
}
.enviar-email:hover{
    transform: scale(1.1);
}

/* Fin de estilos para la seccion de contactos */

/* Estilos para el footer */

.footer{
    background-color: var(---blanco);
}
.footer .width{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2rem;
    padding: 4rem;
}
@media (min-width: 992px) { 
    .footer .width{
        grid-template-rows: unset;
        display: flex;
        justify-content: space-around;
        column-gap: 2rem;
        
    } 
}
.enlaces-web,
.enlaces-externos,
.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media (min-width: 768px) { 
    .enlaces-web,
    .enlaces-externos,
    .informacion{
    
    flex-direction: column;
    align-items: start;
    
}
}
.informacion{
    margin-bottom: 2rem;
}

.footer h3{
    border-bottom: 2px solid var(---colorDos);
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.2rem;
}
.footer a{
    color: black;
    margin-bottom: 1rem;
    transition: all 300ms;
}
.footer a:hover{
   
    color: var(---colorUno);
    
}



.newsletter h3{
    display: inline-block;
    margin-bottom: 4rem;
}
.newsletter-input{
    margin-bottom: 2rem;
}
.newsletter-input input{
    width: 16rem;
    padding: 1.4rem;
    border: 1px solid var(---grisClaro);
    margin: 0;
    border-radius: .5rem 0 0 .5rem;
    outline: none;
}
@media (min-width: 992px) { 
    .newsletter-input input{
        width: 22rem;
        padding: 1rem;
    }
}
::placeholder{
    color: rgb(163, 163, 163)
}
.newsletter-input .suscrito{
    border: none;
    padding: 1.4rem;
    background-color: var(---colorUno);
    color: var(---blanco);
    margin: 0;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
}
.new-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.new-icons p{
    font-weight: 600;
    margin-right: 2rem;
    text-transform: uppercase;
    margin: 0;
}
.new-icons i{
    font-size: 2.5rem;
    margin-left: 2rem;
    transition: all 300ms;
    cursor: pointer;
}
.new-icons i:hover{
    transform: scale(1.1);
}
.footer .derechos{
    background-color: var(---grisClaro);
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}
/* Estilos para el footer */